/*Selector {*/
/*    Property: value;*/
/*}*/
* {
    text-align: right;
}
body {
    /*background-image: url(background.jpg);*/
    /*background-size: cover;*/
}
h2, p {
    color: red;
    text-align: center;
    border: 5px solid rgba(255, 231, 170, 0.4);
    cursor: pointer;
}
li {
    text-transform: uppercase;
;
}

p {
    line-height: 50px;
    font-style: italic;
    font-weight: bold;
    font-size: 150%;
    font-family: 'Montserrat', sans-serif;;
}

.webtext {
    border: 5px dashed green;
}
.active {
    color: red;
}
#div1 {
    background: rgba(0, 0, 255, 0.2);
}
#div2 {
    background: rgba(255, 0, 0, 0.2);
}